<!--Main header that is fixed to the top of the page-->
<header class="header-section full-width" id="header">
  <div class="container" id="header-main">
    <div class="row">
      <!--Logo section-->
      <div class="col-xs-6 logo-container">
        <div class="logo"> 
          <a href="#">
            <!--<img src="https://pbs.twimg.com/profile_images/973787892387639298/RHh1oYWH_400x400.jpg">-->
            <span>< Hamoudi Digital /></span>
          </a>
        </div>
      </div>
      <!--Navigation-->
      <div class="col-xs-6 header-nav">
          <div class="navigation">
            <ul class="nav nav-tabs">
              <li>
                <a href="#home"><strong>Home</strong></a>
              </li>
              <li>
                <a href="#portfolio"><strong>Portfolio</strong></a>
              </li>
              <li>
                <a href="#contact"><strong>Contact</strong></a>
              </li>
            </ul>
          </div>
        </div>
    </div>
  </div>
</header>