<!--Hero section-->
<section class="hero-section" id="home">
  <!--Hero wrap-->
  <div class="hero-wrap">
    <!--Particle effects background-->
    <div id="particles-js"></div>
    <!--Hero section content-->
    <div class="hero-content">
      <h1>I'm <strong style="color: rgb(71, 169, 255)">Hussain Hamoudi</strong></h1>
      <p>A web developer with an eye for presentation</p>
      <a href="#portfolio"><button class="btn btn-primary btn-lg">View my portfolio!</button></a> 
    </div>
  </div>
</section>